# Padrão para ignorar arquivos desnecessários

# Ignorar arquivos PDF
*.pdf

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar diretórios de build
/build/
/dist/
/out/

# Ignorar arquivos de log
*.log

# Ignorar dependências
node_modules/
.env